node_modules/
/.metadata/

# ignore persist data
.node-persist/

# registered application server credentials should not be placed in git
serverAuth.js

# Ignore OSX system files
.DS_Store

# Ignore Eclipse temp files
RemoteSystemsTempFiles
