extends layout.pug

block append content
	.container
		if(moreinfo)
			h3 <span class='text-info'>#{moreinfo}</span>
			
		h3 Here is the token I have:
	
		-var noPrompt = true
		include token.pug

		h3 Lets do something with it...
		
		h3 Raw JSON Actions
		p
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.eob + '&action=listEobs') List EOB Records
		|&nbsp;
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.patient) Fetch Patient Record
		|&nbsp;
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.coverage) Fetch Coverage Record
		
		h3 Post-processed Actions
		p
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.eob + '&action=valueCodings') Fetch Value Codings
		|&nbsp;
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.patient + '&action=patientRecord') Format Patient Record
		|&nbsp;
		a(class='btn btn-primary btn-info btn-lg' href='fetch?url=' + rurl.eob + '&action=benefitBalance') Fetch Benefit Balances
		if(token)
			h3 Token Actions
			p
			a(class='btn btn-primary btn-warning btn-lg' href=ep.refresh) Refresh Token