extends layout.pug

block append content	
	.container
		if(moreinfo)
			h3 <span class='text-info'>#{moreinfo}</span>
			
		if(token)
			include token.pug
		else
			a(class='btn btn-primary btn-success btn-lg' href=ep.authapp) Authorize #{siteName} Now	